* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #eddcd2;
  letter-spacing: 5px;
}

section {
  width: 100%;
  height: 100%;
  padding: 0 5rem;
}

.space {
  height: 10%;
}

/* INTRO */

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: #eddcd2;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.text {
  font-weight: 400;
  transform: translateY(100%);
  display: inline-block;
}

.slider {
  background: #eddcd2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
/* NAVBAR */

.navbar {
  width: 100%;
  height: 10%;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.language-switch {
  display: flex;
  justify-content: center;
}

.selected-language {
  width: 90px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-language img {
  width: 32px;
  height: 32px;
}

.selected-language span {
  margin-left: 10px;
  letter-spacing: 2px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.selected-language span:hover {
  opacity: 0.5;
}

.non-selected-language {
  display: none;
}

a {
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

a:hover {
  opacity: 0.5;
}

/* HEADER */

.header {
  background-image: url("images/image-1.jpg");
  background-size: cover;
}

.brand {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 100px;
  filter: invert(74%) sepia(75%) saturate(43%) hue-rotate(339deg)
    brightness(103%) contrast(97%);
  margin-bottom: -1.5%;
}

.headline {
  font-size: 4rem;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.header-text {
  text-align: right;
  font-size: 1.5rem;
  height: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-text h3 {
  font-weight: 400;
  letter-spacing: 3px;
}

/* ABOUT */

.about {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.about .headline {
  height: 30%;
}

.people {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.person span {
  letter-spacing: 2px;
}

.image {
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person img {
  width: 300px;
  border-radius: 100%;
  opacity: 0.8;
}

.info {
  display: none;
}

.key {
  color: #e63946;
}

.value {
  color: #fca311;
}

/* SERVICE */

.service {
  background-image: url("images/image-2.jpg");
  background-size: cover;
}

.service .headline {
  width: 100%;
  height: 30%;
}

.service-text {
  height: 60%;
}

.service-text h3 {
  font-weight: 400;
  letter-spacing: 2px;
}

/* MODAL */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: #f3f3f3;
  padding: 1rem 0;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  width: 400px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__form {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modal__form input {
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  color: #555b6e;
}

.modal__form textarea {
  padding: 1rem 1.5rem;
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  color: #555b6e;
}

.modal__form button {
  letter-spacing: 1px;
  color: #bbb;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: #555b6e;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal__form button:hover {
  background-color: #eddcd2;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  .headline {
    font-size: 3rem;
  }

  .logo {
    width: 80px;
    margin-bottom: -2%;
  }

  .header-text {
    justify-content: center;
  }

  .header-text h3 {
    text-align: center;
    font-size: 1.5rem;
  }

  .person img {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .intro .text {
    font-size: 2rem;
    letter-spacing: 2px;
  }

  section {
    padding: 0 2rem;
  }
  .navbar {
    padding: 0 2rem;
  }

  .headline {
    font-size: 2rem;
  }

  .logo {
    width: 60px;
  }

  .header-text h3 {
    font-size: 1rem;
  }

  .person img {
    width: 200px;
  }

  .about .headline {
    height: 5%;
  }

  .people {
    height: 85%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .person img {
    width: 150px;
  }

  .modal {
    width: 300px;
  }

  .modal__form input,
  .modal__form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
