* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #0077b6, #90e0ef);
  z-index: -1;
}

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  opacity: 0.8;
  align-items: center;
  font-weight: 300;
}

#logo {
  grid-column: 2/3;
  font-size: 24px;
}

.hamburger {
  justify-self: end;
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 60%;
  width: 100%;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline {
  position: absolute;
  top: 90%;
  left: 5%;
  font-size: 50px;
  transform: translate(-20%, -70%);
  color: white;
  font-weight: 300;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
