html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3f3;
  text-align: center;
  font-family: "Poppins", sans-serif !important;
  margin: 0;
}

main {
  text-align: center;
}

h2,
h3,
h4,
h5,
h6,
p,
button {
  opacity: 0.9;
}

img {
  width: 40%;
}

header {
  padding: 6%;
}

/* NAVBAR */

a.navbar-brand {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
}

a img {
  width: 50px;
  height: 50px;
  margin-bottom: 3px;
}

a img:hover {
  opacity: 0.9;
}

li a {
  font-size: 1.3rem;
  transition: 0.25s;
}

.navbar-brand img {
  opacity: 0.6;
  transition: 0.25s;
}

ul.navbar-nav {
  width: 100%;
  padding: 3px 0 0 0;
}

nav.navbar {
  width: 100%;
}

/* HEADER */

header img {
  width: 80%;
}

header h2 {
  font-size: 2.5rem;
  padding-bottom: 5%;
}

header div.row {
  align-items: center;
}

/* ABOUT */

#about img {
  width: 50%;
  margin: 5%;
  border-radius: 100%;
}

#about h4 {
  font-weight: 400;
}

#about .text {
  padding: 5%;
}

#about h2 {
  padding: 5%;
}

/* SERVICES */

#services {
  padding: 5%;
}

#services h2 {
  padding: 3%;
}

#services h3 {
  padding-bottom: 3%;
}

#services div.carousel {
  width: 55%;
  margin: 0 22.5% 0 22.5%;
}

#services div.carousel img {
  border-radius: 20px;
}

/* PORTFOLIO */

/* CONTACT */

/* SOCIAL */

/* MEDIA QUERIES */

@media (max-width: 1400px) {
  #services div.carousel {
    width: 70%;
    margin: 0 15% 0 15%;
  }
}

@media (max-width: 991px) {
  #services div.carousel {
    width: 85%;
    margin: 0 7.5% 0 7.5%;
  }
}

@media (max-width: 500px) {
  a img {
    width: 40px;
    height: 40px;
    margin-bottom: 2.7px;
  }

  a.navbar-brand {
    font-size: 1.5rem;
    margin: 0%;
  }

  #services div.carousel {
    width: 100%;
    margin: 0;
  }
}
